body
    margin: 0
    padding: 0
    width: 100svw
    height: 100svh
    overflow: hidden
    user-select: none
    background: #222
    color: #eee

*
    box-sizing: border-box

#game-container
    width: 100svw
    height: 100svh
